@import "Base.css";

.Header {
	background-color: var(--dark-gray);
	border-color: var(--dark-gray);
	color: white;
}

.navbar-header {
	padding: 10px;
}

.Header-logo {
	font-size: large;
	display: inline-block;
}

.nav-body {
	float: right;
}

.nav-link {
	color: white;
	padding: 1.5em !important;
	display: inline-block !important;
}

.nav-link:hover {
	color: white;
	background-color: black;
}

body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}
