:root {
	--dark-gray: #222629;
	--medium-gray: #474B4F;
	--light-gray: #6B6E70;
	--light-purple: #BEB8EB;
	--dropdown-content-back-color: #ebebfa;
	--active-option-back-color: #228b22;
	--header-color: #276d27;
	--body-color: #E8E8E8;
}