#search {
	width: 35%;
	margin-right: 0px !important;
	height: fit-content;
}

body {
    background-color: red;
}

.span2 {
	margin-left: 10px;
	margin-right: 10px;
	display: inline-grid;
}

.GradeFilter {
	width: 375px;
	margin: 5px;
}