.form-header {
    width: 50%;
    margin-left: 25%;
    text-align: center;
}

fieldset {
    padding: 1em;
    font:80%/1 sans-serif;
}

input[type="text"], input[type="password"] {
    width: 50%;
}

input[type="submit"] {
    margin-left: calc(50% - 40px);
}

label {
    float:left;
    width:25%;
    margin-right:0.5em;
    padding-top:0.2em;
    text-align:right;
    font-weight:bold;
}