@import "Base.css";

.Header {
	background-color: var(--dark-gray);
	border-color: var(--dark-gray);
	color: white;
}

.navbar-header {
	padding: 10px;
}

.Header-logo {
	font-size: large;
	display: inline-block;
}

.nav-body {
	float: right;
}

.nav-link {
	color: white;
	padding: 2.35em !important;
	display: inline-block !important;
}

.nav-link:hover {
	color: white;
	background-color: black;
}

.Logo-img {
  height: 80px;
  margin: 10px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

